*{
  margin: 0%;
  padding: 0%;
}

header{
 height: 9vh;
 top: 0;
 position: sticky;


}


.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    padding: 2%;


      .menu{
            width: 7%;
           
            
      }
}


.hero{
   background-image: url(image-Facebook-Dev/bg-hero.png);
   background-size: cover;
   height: 70vh;
   
}




